/* Gogole font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;700;900&display=swap');

/* Common CSS */
body{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
}
.text-grey{
    color: #777777;
}
/* Text and image section */
.text-section-bg{
    background-color: #F4FAFD;
}




/* Responsive */
@media screen and (max-width:420px) {
    .popular-course{
        flex-direction: column;
    }
    .popular-course .flex-shrink-0{
        width: 100%;
    }
    .course-img{
        width:100%;
    }
    .padding-20-sm-display{
        padding: 20px 0 20px 0;
    }
    .course-statics{
        flex-wrap: wrap;
    }
    .modal-btn-div{
        justify-content: center;
    }
    .student img{
        min-width: 100%;
    }
    .student-info{
        text-align: center;
    }
}